[submodule "Materials/EulerAnglesViz"]
	path = Materials/EulerAnglesViz
	url = https://github.com/COMPSCI290-S2016/EulerAnglesViz.git
[submodule "Materials/ggslac"]
	path = Materials/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Materials/JavaScript_MOCAP_Animation"]
	path = Materials/JavaScript_MOCAP_Animation
	url = https://github.com/ctralie/JavaScript_MOCAP_Animation.git
[submodule "Materials/SlerpViz"]
	path = Materials/SlerpViz
	url = https://github.com/COMPSCI290-S2016/SlerpViz.git
[submodule "Lectures/CharacterAnimation/FABRIK"]
	path = Lectures/CharacterAnimation/FABRIK
	url = https://github.com/Ursinus-CS476-F2019/FABRIK.git
[submodule "Lectures/CelShading"]
	path = Lectures/CelShading
	url = https://github.com/Ursinus-CS476-F2019/CelShading.git
[submodule "Assignments/Mini1_GeometricPrimitives/Mini1_GeometricPrimitives_Part1"]
	path = Assignments/Mini1_GeometricPrimitives/Mini1_GeometricPrimitives_Part1
	url = https://github.com/Ursinus-CS476-F2019/Mini1_GeometricPrimitives_Part1.git
[submodule "Assignments/Mini1_GeometricPrimitives/Mini1_GeometricPrimitives_Part2"]
	path = Assignments/Mini1_GeometricPrimitives/Mini1_GeometricPrimitives_Part2
	url = https://github.com/Ursinus-CS476-F2019/Mini1_GeometricPrimitives_Part2.git
[submodule "Assignments/Mini3_Shaders"]
	path = Assignments/Mini3_Shaders
	url = https://github.com/Ursinus-CS476-F2019/Mini3_Shaders.git
[submodule "Assignments/LargeScale1_RayTracer"]
	path = Assignments/LargeScale1_RayTracer
	url = https://github.com/Ursinus-CS476-F2019/LargeScale1_RayTracer.git
[submodule "Assignments/LargeScale2_3DShapeModeling"]
	path = Assignments/LargeScale2_3DShapeModeling
	url = https://github.com/Ursinus-CS476-F2019/LargeScale2_3DShapeModeling.git
